* {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

:root {
  --gray: #eee;
  --dark-gray: #b7c9cc;
  --night-black: #39424e;
  --cyan: #39e8f5;
  --blue: #127f9b;
  --bg-gray: #f8f9fa;
  --white: #fff;
}

body {
  background-color: var(--bg-gray);
  padding: 12%;
  padding-top: 60px;
  padding-bottom: 30px;
}

/* Tob bar */
.top-bar {
  background-color: var(--night-black);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 50px;
}

.top-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.top-bar li {
  display: inline;
  --m-left-right: 15px;
  margin-left: var(--m-left-right);
  margin-right: var(--m-left-right);
}

.top-bar a {
  color: var(--dark-gray);
  text-decoration: none;
  font-size: 1.2rem;
}

.top-bar a.home {
  color: var(--gray);
  font-size: 1.7rem;
}

.top-bar a:hover:not(.home) {
  color: white;
}

.top-bar-kiri {
  float: left;
}

.top-bar-kanan {
  float: right;
}
/* Akhir top bar */

/* 2 column layout */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  background-color: var(--white);
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  box-sizing: border-box;
}

.kiri {
  width: 65%;
  float: left;
  padding: 0px 30px;
}

.kanan {
  width: 33%;
  float: right;
  padding: 0px 20px;
  margin-top: 570px;
}
/* Akhir 2 columnt layout */

.big-title {
  font-size: 6rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.hero {
  height: 300px;
  background-image: url("img/hero.jpg");
  background-position-y: 50%;
  border-radius: 10px;
}

h2 {
  font-size: 2rem;
}

/* Daftar isi */
.daftar-isi a {
  color: var(--blue);
  font-size: 1.2rem;
  line-height: 40px;
  text-decoration: none;
}

.daftar-isi a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
/* Akhir daftar isi */

main article p {
  font-size: 1.1rem;
  line-height: 1.75rem;
}

main article h2 {
  padding-top: 50px;
}

/* Colors */
.blue {
  color: var(--cyan);
}
